# Python
__pycache__/
*.py[cod]
*$py.class
pyvenv.cfg
lib/
bin/
include/
.ipynb_checkpoints/
share/
RMHD/data

Scripts

# macOS
.DS_Store

# Virtual Environment
venv/

# VS Code
.vscode/

# Data
*.csv